.card-product {
  overflow: hidden;
  height: 12.5rem;
  background: var(--info-bg-color);
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 60rem;
}

.card-product-infos {
  flex-grow:1;
  padding: 1rem;
}

.card-trip-pricing{
  width: 11.75rem;
  padding-right:2rem;
    padding-top: 2.5rem;
}

.card-trip-pricing h2{
  color: var(--price);
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.photo_product_card{
  width: 60rem;
  height: 12.5rem;
}

.toto {
  display: flex;
  flex-direction: row;
}

.card-trip-pricing{
  width: 11.75rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  text-decoration: none;
}

.card-trip-pricing h2{
  color:  var(--price);
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.product_index_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .product_index_user a{
//   margin-top: 0.5rem;
//   margin-bottom: 0.5rem;
// }

.nav_store {
  background-color: red;
  height: 1.75rem; 
}