.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  max-width: 60rem;
}

.card-product-infos {
  flex-grow:1;
  padding: 16px;
}

.card-trip-pricing{
  width: 188px;
  padding-right: 32px;
    padding-top: 40px;
}

.card-trip-pricing h2{
  color: red;
  font-size:24px;
  font-weight: bold;
  padding-bottom: 8px;
}

// .photo_product{
//   object-fit: cover;
// }
.toto {
  display: flex;
  flex-direction: row;
}
