.page_product {
  margin: auto;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 74rem;
}

.product_photo {
  margin-right: 0.5rem;
}

.product_data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.5rem;
}

.product_data h1 {
  font-family: "Avenir Next",sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  text-transform: none;
  line-height: 1.5;
  color: #000;
  display: block;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  margin: 0 auto 1rem;
  clear: both;
  font-weight: 910;
  padding-top: 0.25rem;
}

.product_data_presentation p {
  font-family: NeueMontreal-Regular;
  font-size: 0.875rem!important;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.product_price {
  font-size: 1.25rem;
}

.btn-cart {
  width: 25rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

#show_photo {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#zoom_photo {
  height: 100%;
}

#zoom_photo img{
  height: 41rem;
  width: 41rem;
  object-fit: contain;
}