
@import "shared/navbar";
@import "devise/identification";
@import "store/index";
@import "product/index";
@import "product/show";
@import "cart/index";
@import "shared/color";

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
