.topnav {
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items: center;
  min-height: 64px;
  background-color: #552C00;
}

.topnav form {
  flex-grow: 4;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 32px;
  min-height: 32px;
}

.navbar_link {
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.topnav nav {
  display: flex;
  justify-content: center;
}

.topnav nav, .logo {
  width: 352px;
}

.navbar_link {
  color: white;
  text-decoration: none;

}

 #search_box {
   flex-grow: 2;
 }
