header {
  display: flex;
  flex-direction: row;
  background-color: #552C00;
  max-height: 3.625em;
}
header form {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  padding: 0.625em 0.25em 0.625em 0.188em;
  margin: 0em 1.125em;
}

#search_box {
  flex-grow: 2;
  height: 2.375em;
}

.nav-links {
  display: flex;
  justify-content: center;
  min-width: 268px;
  display: flex;
  align-items: center;
  
}

.nav-links * {
  color: azure;
  text-decoration: none;
  padding: 0em 0.563em;
  margin: 0.312em 0.125em 0.313 0em;
  line-height: 2.75em;
  font-size: 0.875rem;
  font-weight: 700;
}

.nav-links *:hover {
  border: 0.063em solid azure;
  padding-right: 0.5em;
  padding-left: 0.5em;
}