<div class="dashbord_product_update">
    <% @products.each do |product| %>
        <%= render "shared/product", product: product, store_id: @store %>
        <%= button_to "update", edit_store_product_path(id: product, store_id: @store), method: "get", remote: true %>
        <%= button_to "Destroy", store_product_path(id: product, store_id: @store), method: "delete" %>
    <% end %>
</div>