<div class = "photos">
    <% @product.photos.each do |photo| %>
        <%= cl_image_tag(photo.key, :width => 250, :height => 200, :class => "photo_product", :id => photo.id) %>
    <% end %>
</div>
<div class="container">

<%= render "shared/form_for_product",   product: @product,  
                                        store: @store, 
                                        url: store_product_path, 
                                        method: "path" %>
</div>